*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    background:white;
    transition:background-color 2s ease;
}

.box{
    width:120px;
    height:120px;
    border-radius:15px;
}

#box1{
    background:#ff4d4d;
}

#box2{
    background:#4d79ff;
}

#box3{
    background:#33cc66;
}
